# Hands-on 3

### CS2545 - Data Science ###
### Winter, 2025 ###
### UNB, Fredericton ###

Please complete the following tasks per instructions provided. Please complete the following and submit this notebook (rename filename: handson3-**firstname**-**lastname**.ipynb) to D2L by 11:30 am, February 21. 
</br>
</br>
</br>

**Q1.** Download the file *oscar_winners.json* from Handson 2, which contains information about Orcar winning movies for the best picture award. Load this file into a pandas dataframe. Then answer the following query:

**Q1.1** Show the title of the movies and year awarded for the movies for which the summary contains the word "story" and its genre is/includes Biography.

In [6]:
import pandas as pd

# write your code below
df1 = pd.read_json("oscar_winners.json")

filtered_df1 = df1[df1['summary'].str.contains('story')] #filter summary
filtered_df1 = filtered_df1[filtered_df1['genre'].str.contains('Biography')] #filter genre
print(filtered_df1[['name','oscar']])

# print(df1[df1['name'] == 'Gladiator'])

                     name  oscar
4               Spotlight   2015
9       The King's Speech   2010
32       The Last Emperor   1987
53  A Man for All Seasons   1966
57     Lawrence of Arabia   1962
         name  oscar  released_year  \
19  Gladiator   2000           2000

                                               poster rating duration  \
19  https://m.media-amazon.com/images/M/MV5BMDliMm...      R  155 min

                       genre  \
19  Action, Adventure, Drama

                                              summary       directors  \
19  A former Roman General sets out to exact venge...  [Ridley Scott]

                                                stars
19  [Russell Crowe, Joaquin Phoenix, Connie Nielse...

**Q2** Load the file "movies.csv" into a pandas dataframe. This file contains information, specifically its movieId,  about many movies.


**Q2.1** Combine this dataframe with the dataframe you created in **Q1** such that the new dataframe will contain information about all the Oscar winning movies regardless of whether they have valid movieIds.

**Q2.2** In the newly created dataframe, if any row that has a movieId value NaN, replace it with -1. For those rows, if the title is NaN, replace it with "", and if the releasedYear is NaN, replace it with 0.

In [14]:
import pandas as pd
# write your code below.
df2 = pd.read_csv("movies.csv", delimiter=';')

#Q2.1
df3=pd.merge(df1,df2, how='left', left_on=['name','released_year'], right_on=['title','releasedYear'])


#Q2.2
df3['movieId'] = df3['movieId'].fillna(-1)
df3['title'] = df3['title'].fillna("")
df3['releasedYear'] = df3['releasedYear'].fillna(0)

df3['movieId'] = df3['movieId'].astype(int)
df3['releasedYear'] = df3['releasedYear'].astype(int)

df3

,name,oscar,released_year,poster,rating,duration,genre,summary,directors,stars,movieId,title,releasedYear
0,Parasite,2019,2019,https://m.media-amazon.com/images/M/MV5BYWZjMj...,R,132 min,"Comedy, Drama, Thriller",Greed and class discrimination threaten the ne...,[Bong Joon Ho],"[Kang-ho Song, Sun-kyun Lee, Yeo-jeong Jo, Woo...",-1,,0
1,Green Book,2018,2018,https://m.media-amazon.com/images/M/MV5BYzIzYm...,PG-13,130 min,"Biography, Comedy, Drama",A working-class Italian-American bouncer becom...,[Peter Farrelly],"[Viggo Mortensen, Mahershala Ali, Linda Cardel...",-1,,0
2,The Shape of Water,2017,2017,https://m.media-amazon.com/images/M/MV5BNGNiNW...,R,123 min,"Adventure, Drama, Fantasy",At a top secret research facility in the 1960s...,[Guillermo del Toro],"[Sally Hawkins, Octavia Spencer, Michael Shann...",180031,The Shape of Water,2017
3,Moonlight,2016,2016,https://m.media-amazon.com/images/M/MV5BNzQxNT...,R,111 min,Drama,A young African-American man grapples with his...,[Barry Jenkins],"[Mahershala Ali, Naomie Harris, Trevante Rhode...",-1,,0
4,Spotlight,2015,2015,https://m.media-amazon.com/images/M/MV5BMjIyOT...,R,129 min,"Biography, Crime, Drama",The true story of how the Boston Globe uncover...,[Tom McCarthy],"[Mark Ruffalo, Michael Keaton, Rachel McAdams,...",142488,Spotlight,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Cimarron,1931,1931,https://m.media-amazon.com/images/M/MV5BYWQwZG...,Passed,123 min,"Drama, Western",A newspaper editor settles in an Oklahoma boom...,[Wesley Ruggles],"[Richard Dix, Irene Dunne, Estelle Taylor, Nan...",1928,Cimarron,1931
89,All Quiet on the Western Front,1930,1930,https://m.media-amazon.com/images/M/MV5BMzg2MW...,Passed,152 min,"Drama, War",A young soldier faces profound disillusionment...,[Lewis Milestone],"[Lew Ayres, Louis Wolheim, John Wray, Arnold L...",1927,All Quiet on the Western Front,1930
90,The Broadway Melody,1929,1929,https://m.media-amazon.com/images/M/MV5BZmJlOW...,Passed,100 min,"Drama, Musical, Romance",A pair of sisters from the vaudeville circuit ...,[Harry Beaumont],"[Bessie Love, Anita Page, Charles King, The An...",-1,,0
91,Wings,1928,1927,https://m.media-amazon.com/images/M/MV5BYTI1Yj...,PG-13,144 min,"Drama, Romance, War","Two young men, one rich, one middle class, who...","[William A. Wellman, Harry d'Abbadie d'Arrast]","[Clara Bow, Charles 'Buddy' Rogers, Richard Ar...",-1,,0
92,Sunrise,1927,1927,https://m.media-amazon.com/images/M/MV5BNDVkYm...,Passed,94 min,"Drama, Romance",An allegorical tale about a man fighting the g...,[F.W. Murnau],"[George O'Brien, Janet Gaynor, Margaret Living...",-1,,0

**Q3** Load the file "ratings.csv" into a pandas dataframe. This file contains information about ratings given by users to many movies.

**Q3.1** Combine this dataframe with the dataframe you created in **Q2** such that each Oscar winning movie may have one or more user ratings, if applicable.


**Q3.2** Using the dataframe you have  created in Q3.1, for each movie show the number of high ratings (i.e. rating >= 4) it received, if applicable.

In [24]:
import pandas as pd
df4 = pd.read_csv("ratings.csv")

#Q3.1
df5 = pd.merge(df3,df4, how='inner', on='movieId')


#Q3.2
#get title and count every userRating >= 4
filtered_df5 = df5[df5['userRating']>=4]
filtered_df5['name'].value_counts(sort = True)

Forrest Gump                       249
Schindler's List                   175
Braveheart                         166
American Beauty                    152
Gladiator                          117
One Flew Over the Cuckoo's Nest    108
Dances with Wolves                 103
Casablanca                          80
Titanic                             63
Shakespeare in Love                 63
Rain Man                            60
Amadeus                             57
Platoon                             46
Slumdog Millionaire                 46
No Country for Old Men              45
Rocky                               43
Annie Hall                          38
Million Dollar Baby                 37
Lawrence of Arabia                  36
Crash                               35
Unforgiven                          35
My Fair Lady                        29
Chicago                             27
Patton                              24
Ben-Hur                             24
Gone with the Wind                  24
All About Eve                       21
Argo                                21
On the Waterfront                   20
Gandhi                              20
West Side Story                     19
Midnight Cowboy                     16
Driving Miss Daisy                  16
Terms of Endearment                 14
Rebecca                             14
Spotlight                           13
It Happened One Night               12
Chariots of Fire                    10
12 Years a Slave                    10
From Here to Eternity                9
In the Heat of the Night             9
Kramer vs. Kramer                    9
The Artist                           9
Ordinary People                      8
Out of Africa                        7
Around the World in 80 Days          7
All Quiet on the Western Front       7
Mutiny on the Bounty                 6
Tom Jones                            4
The Shape of Water                   4
Oliver!                              4
All the King's Men                   3
Marty                                2
Gigi                                 2
Mrs. Miniver                         2
Grand Hotel                          2
You Can't Take It with You           1
Hamlet                               1
Gentleman's Agreement                1
Name: name, dtype: int64